<h1>Edit idea #<%= @idea.id %></h1>
<%= form_tag idea_path(@idea.id), :method => :patch do %>
  <label for="desc">Description:</label>
  <input type="text" id="desc" name="desc" value="<%= @idea.desc %>">
  <input type="submit">
<% end %>


<%= link_to 'Destroy', idea_path(@idea.id), :method => :delete  %> |
<%= link_to 'Back to index', ideas_path  %>
