<h1>Listing ideas</h1>
<%= link_to 'Add a new idea', new_idea_path  %>
<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
  <% @ideas.each do |idea|  %>
    <tr>
      <td><%= idea.desc %></td>
      <td><%= link_to 'Show', idea_path(idea.id)  %></td>
      <td><%= link_to 'Edit', edit_idea_path(idea.id) %></td>
      <td><%= link_to 'Destroy', idea_path(idea.id), :method => :delete  %></td>
    </tr>
  <% end %>
</table>
